.hg
.hgignore
.hgtags

.gradle
local.properties
build
captures
.externalNativeBuild
.idea/
*.iml

library/build
library/.externalNativeBuild
library/makecmakelist.bat

testapp/build
testapp/.externalNativeBuild
library/.cxx/
